@import '../styles/breakpoints.scss';

.apartmentsList {
  max-height: 82vh;
  overflow: scroll;
  scroll-snap-type: y mandatory;

  @include md {
    max-height: 89vh;
  }
}

.apartmentsList > div {
  scroll-snap-align: start;
}
