@import '../../styles/breakpoints';

.note {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 1fr;

  @include lg {
    display: flex;
  }

  & > ul {
    margin-left: 3.2rem;
  }

  &:first-child > .noteTitle {
    @include lg {
      margin-left: 2.4rem;
    }
  }

  &:not(:first-child) {
    margin-top: 2.4rem;

    @include lg {
      margin-top: 0;
    }
  }
}

.noteTitle {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.noteList {
  font-size: 1.4rem;
}
